{% extends 'base.html.twig' %}

{% block body %}
    <h1>Client</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ client.name }}</td>
            </tr>
            <tr>
                <th>Mdp</th>
                <td>{{ client.mdp }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ client.lastname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ client.email }}</td>
            </tr>
            <tr>
                <th>Birthdate</th>
                <td>{% if client.birthdate %}{{ client.birthdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Sex</th>
                <td>{% if client.sex %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('client_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
